.u-fw-700 {
  font-weight: 700;
}

.u-fw-800 {
  font-weight: 800;
}

.u-fw-500 {
  font-weight: 500;
}

.u-text-align-center {
  text-align: center;
}

.u-fc-light-blue {
  color: var(--light-blue);
}

.u-fc-white {
  color: var(--white);
}

.u-opacity-50 {
  opacity: 0.5;
}

.u-fc-dark-navy {
  color: var(--dark-navy);
}
