:root {
  --yellow: #ffb21e;
  --yellow-95: rgba(255, 178, 30, 0.075);
  --blue: #1125d6;
  --blue-95: rgba(17, 37, 214, 0.075);
  --green: #00bb8f;
  --green-95: rgba(0, 187, 143, 0.075);
  --red: #ff5555;
  --red-95: rgba(255, 85, 85, 0.075);
  --dark-navy: #303b59;
  --light-blue: #cac9ff;
  --very-light-blue: #ecf2ff;
  --white: #ffffff;
  --gradient-1: linear-gradient(to bottom, #7755ff, #2f2ce9);
  --gradient-2: linear-gradient(to bottom, #4d21c9, #2521c900);
}
